body{
    font-family: 'Roboto', sans-serif;
    color: darkslategrey;
    margin: 0%;
}
h1{
    font-size: 45px;
}
p{
    font-size: 13px;
}

.orange{
    color: orange;
}
.link-button{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(orangered,tomato);
    padding: 10px;
    border-radius: 20px;   
}
p{
    margin-bottom: 50px;
}
.first-part{
    display: flex;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 50px;
}
.half-width{
    width: 50%;
}
.half-width img{
    height: 80%;
}
.second-part{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.center{
    text-align: center;
}
.flex-container{
    display: flex;
    padding-bottom: 50px;
}
.recipe-one{
    width: 50%;
}
.recipe-two{
    width: 50%;
}
.recipe-three{
    width: 50%;
}
.box{
    width: 25%;
    border-radius: 20px;
    box-shadow: -2px -2px 3px black;
    margin-left: 50px;
    margin-right: 30px;
    padding: 10px;
    margin-bottom: 150px;
}
.image img{
    max-width: 100%;
    border-radius: 20px;
}
.reach{
    background-color: white;
    height: 150px;
    width: 800px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-shadow: -2px -2px 5px black;
    border-radius: 5px;
    margin-bottom: 75px;
    
}
.split{
    padding-left: 70px;
    padding-right: 70px;
}
.footer{
    text-align: center;
    background-color: rgb(15, 14, 14);
    border-bottom-color: black;
    margin-bottom: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
}